svg {
    cursor: crosshair;
    position: fixed;
    width: 100%;
    height: 100%;
}

g {
    cursor: pointer;
}

line, #arrowhead {
    stroke: gray;
    fill: gray;
    stroke-width: 2px;
}

.dragLine {
    stroke: black;
}
